/****************************************************************************
 Modul:       NEUROROB.RC

 Aufgabe:     EnthÑlt die alle Resourcen fÅr Neurorob
****************************************************************************/

#include "windows.h"
#include "neurorob.h"
#include "ndl_steu.h"
#include "ndl_list.h"
#include "neuromen.h"
#include "ndl_vid.h"
#include "ndl_edit.h"
#include "brainmen.h"
#include "ndl_nnet.h"
#include "ndl_file.h"
#include "ndl_pos.h"
#include "ndl_ndat.h"
#include "ndl_tdat.h"
#include "ndl_visu.h"
#include "ndl_abo.h"
#include "ndl_test.h"
#include "ndl_rob.h"

NEUROROBMENU  MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  MenuItem  "&Info", IDM_INFO
  POPUP "&Roboter"
  BEGIN
    MenuItem  "&Init ...", IDM_ROBINIT
    MenuItem  SEPARATOR
    MenuItem  "&Steuerung ...", IDM_STEUERUNG
    MenuItem  "&Befehlsliste ...", IDM_BEFEHLSLISTE
    MenuItem  "Sende &File ...", IDM_SENDEFILE
    MenuItem  "&Positionsanalyse ...", IDM_POSITIONSANA
    MenuItem  "&Visualisierung ...", IDM_VISUALISIERUNG
    MenuItem  SEPARATOR
    MenuItem  "&Beenden", IDM_BEENDEN
  END
  POPUP "&Videomat"
  BEGIN
    MenuItem  "&Init / Abgleich", IDM_VIDEOINIT
    MenuItem  SEPARATOR
		MenuItem  "&Steuerung ...", IDM_VIDEOSTEU
	END
	POPUP "&Brain"
	BEGIN
		MenuItem  "&Init ...", IDM_NEUINIT
	END
	POPUP "D&emo"
	BEGIN
		MenuItem  "&Gelenkdemo", IDM_GELENKDEMO
	END
END

VIDEOSTEUERUNG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 88, 26, 104, 182
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Videomat"
BEGIN
  CONTROL "+" ID21_PLUS, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 17, 31, 13
  CONTROL "-" ID21_MINUS, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 36, 31, 13
  CONTROL "Bin‰risierungsschwelle" 0, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 8, 3, 87, 50
  CONTROL "Live-Graubild" ID21_LIVEG, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 60, 90, 13
  CONTROL "Live-Bin‰rbild" ID21_LIVEB, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 76, 90, 13
  CONTROL "Graubild" ID21_GRAU, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 92, 90, 13
  CONTROL "Bin‰rbild" ID21_BINAER, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 108, 90, 13
  CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 161, 57, 12
  CONTROL "Histogramm" ID21_HISTOGRAMM, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 124, 90, 13
  CONTROL "Orientierung/Schwerpunkt" ID21_ORIENTIERUNG, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 140, 90, 13
END

ABOUTBOX DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 56, 9, 174, 208
STYLE WS_TILED | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "‹ber NeuroRob"
BEGIN
  CONTROL "Labor f¸r Regelungstechnik " -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP | 0x1L, 22, 146, 126, 8
  CONTROL "und Prozeﬂlenkung" -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP | 0x1L, 22, 154, 126, 8
  CONTROL "(c) FH M¸nster 26.02.1992" -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP | 0x1L, 22, 181, 126, 8
  CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | 0x1L, 47, 193, 80, 14
  CONTROL "Fachhochschule M¸nster Abteilung Steinfurt" -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 1, 118, 171, 11
  CONTROL "Diplomarbeit " -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 0, 5, 171, 12
  CONTROL "Autoren:" -1, "STATIC", WS_CHILD | WS_VISIBLE, 3, 25, 32, 9
  CONTROL "Ralf Kronemeyer" -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 45, 20, 79, 9
  CONTROL "Ralf Gronemann" -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 45, 30, 79, 9
  CONTROL "Referent:     Professor Dipl.-Ing. Egon Weiner" -1, "STATIC", WS_CHILD | WS_VISIBLE, 3, 46, 165, 8
  CONTROL "Korreferent: Professor Dr. rer. nat. Axel Bleckmann" -1, "STATIC", WS_CHILD | WS_VISIBLE, 3, 54, 168, 8
  CONTROL "ROB" -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x3L, 77, 162, 17, 17
  CONTROL "Show ..." 1201, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 20, 40, 18
  CONTROL "FH" -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x3L, 77, 129, 17, 17
  CONTROL "Erstellung einer Windows-Applikation zur Steuerung eines Gelenkarmroboter mit Hilfe einer Bilder- fassungsanlage unter Anwendung neuronaler Netze" -1, "STATIC", WS_CHILD | WS_VISIBLE, 3, 79, 170, 29
  CONTROL "Thema:" -1, "STATIC", WS_CHILD | WS_VISIBLE, 3, 69, 32, 9
END


STEUERUNG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 15, 26, 287, 180
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Steuerung"
BEGIN
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | 0x1L, 187, 164, 48, 14
	CONTROL "+" ID2_ELBOW_P, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 21, 9, 8
	CONTROL "-" ID2_ELBOW_N, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 30, 9, 8
	CONTROL "+" ID2_SHOULDER_P, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 38, 9, 8
	CONTROL "-" ID2_SHOULDER_N, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 59, 9, 8
	CONTROL "-" ID2_WAIST_N, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 63, 9, 8
	CONTROL "auf" ID2_HAND_OPEN, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 29, 18, 10
	CONTROL "zu" ID2_HAND_CLOSE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 41, 18, 9
	CONTROL "+" ID2_WAIST_P, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 63, 9, 8
	CONTROL "+" ID2_HAND_UP, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 14, 9, 8
	CONTROL "-" ID2_HAND_LEFT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 51, 9, 8
	CONTROL "-" ID2_HAND_DOWN, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 59, 9, 8
	CONTROL "+" ID2_HAND_RIGHT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 22, 9, 8
	CONTROL "Geschwindigkeit" ID2_SPEED, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 6, 167, 72, 9
	CONTROL "Schrittweite" ID2_DEGREE, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 6, 149, 72, 9
	CONTROL "Schrittwinkel : 10∞" ID2_TEXTGRAD, "STATIC", WS_CHILD | WS_VISIBLE, 6, 140, 72, 9
	CONTROL "Geschwindigkeit : 16" ID2_TEXTSPEED, "STATIC", WS_CHILD | WS_VISIBLE, 6, 158, 72, 9
	CONTROL "Parameter:" -1, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 3, 95, 79, 83
	CONTROL "hoch" ID2_HOCH, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 209, 27, 32, 10
	CONTROL "runter" ID2_RUNTER, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 209, 132, 32, 10
	CONTROL "links" ID2_LINKS, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 73, 32, 10
	CONTROL "vor" ID2_VOR, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 126, 32, 10
	CONTROL "rechts" ID2_RECHTS, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 252, 116, 32, 10
	CONTROL "zur¸ck" ID2_ZURUECK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 252, 81, 32, 10
	CONTROL "Ursprung" ID2_MO_999, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 164, 48, 14
	CONTROL "Befehlsliste:" -1, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 2, 63, 61, 31
	CONTROL "Hinzuf¸gen" ID2_ADD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 75, 54, 15
	CONTROL "Schrittweite" ID2_GRID, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 6, 113, 72, 9
	CONTROL "Greifst‰rke : 63" ID2_TEXTGRID, "STATIC", WS_CHILD | WS_VISIBLE, 6, 104, 72, 9
	CONTROL "Position:" 0, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 85, 143, 46, 35
	CONTROL "2" ID2_POSEDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 98, 153, 20, 12
	CONTROL "Nr.:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 86, 155, 11, 9
	CONTROL "Definieren" ID2_DEFINIERN, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 166, 42, 11
	CONTROL "Schrittweite" ID2_STEP, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 6, 131, 72, 9
	CONTROL "Schrittweite : 10 mm" ID2_TEXTMM, "STATIC", WS_CHILD | WS_VISIBLE, 6, 122, 72, 9
END

BEFEHLSLISTE DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 11, 35, 204, 127
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Befehlsliste"
BEGIN
	CONTROL "BEFEHLE :" ID3_BEFEHLSLISTE, "LISTBOX", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | 0x49L, 5, 4, 133, 81
	CONTROL "Hinzuf¸gen" ID3_ADD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 5, 53, 13
	CONTROL "Lˆschen" ID3_DEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 20, 53, 13
	CONTROL "Laden" ID3_LOAD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 39, 53, 13
	CONTROL "Speichern" ID3_SAVE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 54, 53, 13
	CONTROL "Ausf¸hren" ID3_DO, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 108, 57, 14
	CONTROL "Demakiere alles" ID3_UNSELECTALL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 108, 57, 14
	CONTROL "Einzelschrittmodus" ID3_SINGLESTEP, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 124, 108, 72, 9
	CONTROL "Wiederholmodus" ID3_REPEAT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 124, 96, 72, 9
	CONTROL "Modi" -1, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 121, 85, 78, 37
	CONTROL "Makiere alles" ID3_SELECTALL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 89, 57, 14
	CONTROL "Befehl ..." ID3_COMMAND, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 69, 91, 45, 12
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 71, 53, 13
END


BEFEHLSEINGABE DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 80, 64, 191, 43
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Befehlseingabe"
BEGIN
	CONTROL "" 701, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | 0x88L, 9, 21, 95, 12
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x1L, 111, 21, 33, 12
	CONTROL "Abbruch" 2, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 21, 33, 12
	CONTROL "Befehl:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 9, 7, 93, 10
END

SIVIPS CURSOR SIVIPS.CUR
MASTER CURSOR MASTER.CUR
ROB ICON ROB.ICO
GEHIRN ICON BRAIN.ICO
FH ICON FH.ICO
rob BITMAP ROB.BMP
all BITMAP ALL.BMP
face BITMAP FACE.BMP
GEHIRNBILD BITMAP GEHIRN.BMP

BRAINMENU  MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  POPUP "&Datei"
  BEGIN
    MenuItem  "&Neu...", IDM9_NEU
    MenuItem  "&Laden...", IDM9_LADEN
    MenuItem  "&Speichern", IDM9_SPEICHERN
    MenuItem  "Speichern &als ...", IDM9_ALS
    MenuItem  SEPARATOR
    MenuItem  "&Brain beenden", IDM9_ENDE
  END
  POPUP "&Training"
  BEGIN
    MenuItem  "&Hohe Priorit‰t", IDM9_PRIOHIGH
    MenuItem  "&Mittlere Priorit‰t", IDM9_PRIOMIDDLE
    MenuItem  "&Niedrige Priorit‰t", IDM9_PRIOLOW
    MenuItem  SEPARATOR
    MenuItem  "&Start", IDM9_START
    MenuItem  "An&zeigen", IDM9_ANZEIGEN
    MenuItem  SEPARATOR
    MenuItem  "&Reset", IDM9_RESET
  END
  POPUP "&Erkennung"
	BEGIN
    MenuItem  "&Start", IDM9_ERKENNUNG
		MenuItem  "&Testphase", IDM9_TEST
    MenuItem  SEPARATOR
    MenuItem  "&Robotereinsatz", IDM9_ROBOTEREINSATZ
  END
  POPUP "&Option"
  BEGIN
    MenuItem  "&Edit Teiledaten ...", IDM9_EDITTEILEDATEN
    MenuItem  SEPARATOR
    POPUP "&Anzeige"
		BEGIN
      MenuItem  "&Groﬂ", IDM9_GROSS
      MenuItem  "&Mittel", IDM9_MITTEL
      MenuItem  "&Klein", IDM9_KLEIN
    END
  END
END



NEUESNETZ DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 36, 23, 178, 187
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Neues Netz anlegen"
BEGIN
  CONTROL "Erkennungsmerkmale:" 0, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 1, 0, 104, 165
  CONTROL "Gesamtfl‰che" ID11_TOTALAREA, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 11, 96, 10
  CONTROL "max. Tr‰gheitsmoment" ID11_MAJOR, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 24, 96, 10
  CONTROL "min.Tr‰gheitsmoment" ID11_MINOR, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 37, 96, 10
  CONTROL "Lˆcheranzahl" ID11_NHOLES, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 50, 96, 10
  CONTROL "Umfang" ID11_PERIMETER, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 63, 96, 10
  CONTROL "max. Schwerpunktabstand" ID11_RMAX, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 76, 96, 10
  CONTROL "" ID11_S0, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x3L, 121, 75, 9, 46
  CONTROL "" ID11_S1, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x3L, 149, 75, 9, 46
  CONTROL "Neuronenanzahl:" 0, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 107, 64, 69, 71
	CONTROL "9" ID11_T0, "STATIC", WS_CHILD | WS_VISIBLE, 121, 124, 10, 10
  CONTROL "9" ID11_T1, "STATIC", WS_CHILD | WS_VISIBLE, 149, 124, 10, 10
  CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 167, 42, 17
  CONTROL "Anzahl der Layer : 1" ID11_LAYER, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 107, 52, 69, 9
  CONTROL "" ID11_TEILE, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 107, 11, 69, 9
  CONTROL "Anzahl der Teile : 2" ID11_TEILETEXT, "STATIC", WS_CHILD | WS_VISIBLE, 107, 1, 69, 9
  CONTROL "Hiddenlayer: 1" ID11_LAYERTEXT, "STATIC", WS_CHILD | WS_VISIBLE, 107, 42, 69, 9
  CONTROL "Abbruch" 2, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58, 167, 42, 17
  CONTROL "min. Schwerpunktabstand" ID11_RMIN, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 89, 96, 10
  CONTROL "durchschnittlicher Abstand" ID11_AVRAD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 102, 96, 10
  CONTROL "L‰nge" ID11_LAENGE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 115, 96, 10
  CONTROL "Breite" ID11_BREITE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 128, 96, 10
  CONTROL "" ID11_SAMPLE, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 107, 31, 69, 9
  CONTROL "Sample pro Teil: 1" ID11_SAMPLETEXT, "STATIC", WS_CHILD | WS_VISIBLE, 107, 21, 69, 9
  CONTROL "Grauwert-Histogramm" ID11_GRAUWERTE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 4, 144, 91, 14
  CONTROL "" 0, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 2, 138, 98, 22
  CONTROL "Robotereinsatz" 0, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 107, 137, 69, 47
  CONTROL "kein" ID11_ROBOTER_KEIN, "BUTTON", WS_CHILD | WS_VISIBLE | 0x4L, 111, 146, 53, 13
  CONTROL "nur Training" ID11_ROBOTER_TRAINING, "BUTTON", WS_CHILD | WS_VISIBLE | 0x4L, 111, 158, 53, 13
  CONTROL "komplett" ID11_ROBOTER_KOMPLETT, "BUTTON", WS_CHILD | WS_VISIBLE | 0x4L, 111, 170, 53, 13
END



NEURONENDATEN DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 34, 35, 180, 62
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Neurondaten"
BEGIN
	CONTROL "" ID13_POTENTIAL, "EDIT", WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 82, 3, 89, 11
	CONTROL "" ID13_AUSGANG, "EDIT", WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 82, 15, 89, 11
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 37, 49, 12
	CONTROL "Inneres Potential :" 0, "STATIC", WS_CHILD | WS_VISIBLE, 8, 5, 70, 12
	CONTROL "Ausgangswert :" 0, "STATIC", WS_CHILD | WS_VISIBLE, 8, 17, 70, 12
	CONTROL "" ID13_SCROLLBAR, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x3L, 8, 28, 9, 31
	CONTROL "" ID13_WEDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 37, 65, 12
	CONTROL "W1:" ID13_WTEXT, "STATIC", WS_CHILD | WS_VISIBLE, 21, 39, 23, 10
END


TEILEDATEN DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 63, 9, 103, 169
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Festlegung der Teiledaten"
BEGIN
  CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 149, 46, 13
  CONTROL "" ID15_SCROLLTEILE, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 4, 60, 94, 10
  CONTROL "" ID15_NAME, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 3, 66, 12
  CONTROL "Name:" ID15_NAME, "STATIC", WS_CHILD | WS_VISIBLE, 2, 5, 28, 9
  CONTROL "" ID15_GROESSE, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 18, 66, 12
  CONTROL "Grˆsse:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 2, 20, 28, 9
  CONTROL "Teilnummer: 10" ID15_TEILENUMMER, "STATIC", WS_CHILD | WS_VISIBLE, 4, 49, 64, 10
  CONTROL "" ID15_SCROLLSAMPLE, "SCROLLBAR", WS_CHILD | WS_VISIBLE | 0x2L, 4, 82, 94, 10
  CONTROL "Samplenummer: 5" ID15_SAMPLENUMMER, "STATIC", WS_CHILD | WS_VISIBLE, 4, 71, 64, 10
  CONTROL "Sample aufnehmen" ID15_SAMPLEAUFNEHMEN, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 97, 93, 12
  CONTROL "" ID15_FACHNUMMER, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 33, 66, 12
  CONTROL "Fachnr.:" -1, "STATIC", WS_CHILD | WS_VISIBLE, 2, 35, 28, 9
  CONTROL "Starte Roboter" ID15_STARTEROBOTER, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 113, 93, 12
  CONTROL "Greifhˆhe definieren" ID15_GREIFHOEHE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 129, 93, 12
END


FILEOPERATION DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 48, 29, 184, 170
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
BEGIN
	CONTROL "" ID6_FILES, "LISTBOX", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | 0x3L, 6, 45, 60, 122
	CONTROL "" ID6_DIRECTORIES, "LISTBOX", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | 0x3L, 75, 45, 60, 122
	CONTROL "Abbruch" 2, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 153, 40, 12
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 131, 40, 12
	CONTROL "" ID6_FILE, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 2, 86, 13
	CONTROL "Filename:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 6, 4, 37, 10
	CONTROL "Files:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 6, 33, 48, 9
	CONTROL "Directories:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 75, 33, 48, 9
	CONTROL "Directory:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 6, 18, 37, 10
	CONTROL "D:\\" ID6_DIRECTORY, "STATIC", WS_CHILD | WS_VISIBLE, 48, 18, 134, 11
END

POSITIONSANA DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 26, 47, 143, 121
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Positionsanalyse"
BEGIN
	CONTROL "Move" ID8_MOVE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 90, 36, 12
	CONTROL "Neu" ID8_NEW, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 106, 36, 12
	CONTROL "Transfer" ID8_ROBOTER, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 74, 36, 12
	CONTROL "" ID8_POSITION, "LISTBOX", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | 0x1L, 3, 1, 39, 118
	CONTROL "Speichern" ID8_SAVE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 90, 36, 12
	CONTROL "Laden" ID8_LOAD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 74, 36, 12
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 106, 36, 12
	CONTROL "Positionsnr.:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 51, 3, 45, 9
	CONTROL "X-Wert:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 51, 13, 45, 9
	CONTROL "Y-Wert:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 51, 23, 45, 9
	CONTROL "Z_Wert:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 51, 33, 45, 9
	CONTROL "Hand-Pitch:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 51, 43, 45, 9
	CONTROL "Hand-Roll:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 51, 53, 45, 9
	CONTROL "Hand-Grip:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 51, 63, 45, 9
	CONTROL "" ID8_POSITIONSNR, "STATIC", WS_CHILD | WS_VISIBLE, 93, 3, 46, 9
	CONTROL "" ID8_XWERT, "STATIC", WS_CHILD | WS_VISIBLE, 93, 13, 46, 9
	CONTROL "" ID8_YWERT, "STATIC", WS_CHILD | WS_VISIBLE, 93, 23, 46, 9
	CONTROL "" ID8_ZWERT, "STATIC", WS_CHILD | WS_VISIBLE, 93, 33, 46, 9
	CONTROL "" ID8_HANDPITCH, "STATIC", WS_CHILD | WS_VISIBLE, 93, 43, 46, 9
	CONTROL "" ID8_HANDROLL, "STATIC", WS_CHILD | WS_VISIBLE, 93, 53, 46, 9
	CONTROL "" ID8_HANDGRIP, "STATIC", WS_CHILD | WS_VISIBLE, 93, 63, 46, 9
END



VISUALISIERUNG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 21, 45, 204, 105
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Visualisierung"
BEGIN
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 92, 35, 11
	CONTROL "Aktuell" ID10_AKTUELL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 92, 35, 11
	CONTROL "0,0,0" ID10_DATEN, "STATIC", WS_CHILD | WS_VISIBLE, 44, 5, 121, 9
	CONTROL "X,Y,Z:" 0, "STATIC", WS_CHILD | WS_VISIBLE, 20, 5, 23, 7
END

FACEBOX DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 2, 35, 159, 122
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Kronemeyer / Gronemann          "
BEGIN
	CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 108, 32, 12
END

ROBINIT DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 55, 53, 206, 75
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Roboterinitialisierung"
BEGIN
  CONTROL "Bitte schalten Sie den Movemaster ein und die Toolbox aus." 0, "STATIC", WS_CHILD | WS_VISIBLE, 2, 2, 204, 8
  CONTROL "Sollte der Roboter schon einmal grundinitialisiert worden sein," 0, "STATIC", WS_CHILD | WS_VISIBLE, 2, 12, 204, 8
  CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 58, 39, 12
  CONTROL "Abbruch" 2, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 126, 58, 39, 12
  CONTROL "Nest - Kommando senden" 1900, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 50, 44, 99, 12
  CONTROL "so er¸brigt sich die Sendung des Nest - Kommandos." 0, "STATIC", WS_CHILD | WS_VISIBLE, 2, 22, 204, 8
  CONTROL " " 1901, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 0, 33, 206, 10
  CONTROL " " 1902, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 0, 33, 206, 10
END


